<router-outlet></router-outlet>
<!--<div class="wrapper">-->
  <!--<div class="sidebar" data-color='red' data-image="">-->
    <!--<app-sidebar></app-sidebar>-->
    <!--&lt;!&ndash;<div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="main-panel">-->
    <!--&lt;!&ndash;<app-navbar></app-navbar>&ndash;&gt;-->
    <!--<router-outlet></router-outlet>-->
    <!--&lt;!&ndash;<div *ngIf="isMaps('maps')">&ndash;&gt;-->
    <!--&lt;!&ndash;<app-footer></app-footer>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
